@{
    ViewData["Title"] = "O que é IMC?";
}
<h1>@ViewData["Title"]</h1>

<p class="textoSobreImc">Criado no século 19 pelo matemático Lambert Quételet,
    o Índice de Massa Corporal, conhecido pela sigla IMC,
    é um cálculo simples que permite medir se alguém está
    ou não com o peso ideal. Ele aponta se o peso está adequado
    ou se está abaixo ou acima do peso.</p>

    <h5>O calculo funciona assim:</h5>
    <p> Peso / Altura²</p>
